<!--
CS326 Final Project
Author: Owen Pruim and David Reidsma
HTML for our Angular web app to control a Lego RCX from a Raspberry Pi.
-->

<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div id="remote-container">
      <div class="remote-button fwd-left"></div>
      <button (click)="remoteButtonPressed('fwd')" class="remote-button forwards">Forwards</button>
      <div class="remote-button fwd-right"></div>

      <button (click)="remoteButtonPressed('left')" class="remote-button turn-left">Turn Left</button>
      <button (click)="remoteButtonPressed('stop')" class="remote-button stop">Stop</button>
      <button (click)="remoteButtonPressed('right')" class="remote-button turn-right">Turn Right</button>

      <div class="remote-button bkwd-left"></div>
      <button (click)="remoteButtonPressed('bwd')" class="remote-button backwards">Backwards</button>
      <div class="remote-button bkwd-right"></div>
    </div>
  </body>
</html>