<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div id="remote-container">
      <button (click)="remoteButtonPressed('fwdLeft')" class="remote-button fwd-left">Forwards Left</button>
      <button (click)="remoteButtonPressed('fwd')" class="remote-button forwards">Forwards</button>
      <button (click)="remoteButtonPressed('fwdRight')" class="remote-button fwd-right">Forwards Right</button>

      <button (click)="remoteButtonPressed('left')" class="remote-button turn-left">Turn Left</button>
      <button (click)="remoteButtonPressed('stop')" class="remote-button stop">Stop</button>
      <button (click)="remoteButtonPressed('right')" class="remote-button turn-right">Turn Right</button>

      <button (click)="remoteButtonPressed('bwdLeft')" class="remote-button bkwd-left">Backwards Left</button>
      <button (click)="remoteButtonPressed('bwd')" class="remote-button backwards">Backwards</button>
      <button (click)="remoteButtonPressed('bwdRight')" class="remote-button bkwd-right">Backwards Right</button>
    </div>
  </body>
</html>