/*
CS326 Final Project
Author: Owen Pruim and David Reidsma
CSS for our Angular web app to control a Lego RCX from a Raspberry Pi.
*/

#remote-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.remote-button {
    padding: 20px;
    text-align: center;;
}